<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="/#header">Home</a></li>
            <li><a href="/#service">Giới Thiệu</a></li>
            <li><a href="/#Portfolio">Khoá Học</a></li>
            <li><a href="/#">?????</a></li>
            <li class="small-logo"><a href="/#header"><img src="/images/small-logo.png" alt=""></a></li>
            <li><a href="/trac-nghiem">Trắc Nghiệm</a></li>
            <li><a href="/#team">Team</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/dang-nhap">Đăng Nhập</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->