      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="/admin">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <%if(idLoaiNV == 1 || idLoaiNV == 3){%>
				          <li class="sub-menu">
                      <a href="/admin/loai-khoa-hoc" class="">
                          <i class="glyphicon glyphicon-book"></i>
                          <span>Loại Khoá Học</span>
                      </a>
                  </li>   
                  <li class="sub-menu">
                      <a href="/admin/khoa-hoc" class="">
                          <i class="glyphicon glyphicon-book"></i>
                          <span>Khoá Học</span>
                      </a>
                  </li>   
                  <%} else { %>
                  <li class="sub-menu">
                      <a href="/admin/dang-ki-khoa-hoc" class="">
                          <i class="glyphicon glyphicon-book"></i>
                          <span>Đăng ký Khoá Học</span>
                      </a>
                  </li> 
                  <%}%>
                  <li class="sub-menu">
                      <a href="/admin/bai-giang" class="">
                          <i class="glyphicon glyphicon-list-alt"></i>
                          <span>Bài Viết</span>
                      </a>
                  </li> 
                  <li class="sub-menu">
                      <a href="/admin/trac-nghiem" class="">
                          <i class="glyphicon glyphicon-list-alt"></i>
                          <span>Trắc Nghiệm</span>
                      </a>
                  </li>    
                  <%if(idLoaiNV == 1 || idLoaiNV == 3){%>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="glyphicon glyphicon-user"></i>
                          <span>Nhân Sự</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/admin/nhan-vien">Nhân Viên</a></li>
                          <li><a class="" href="/admin/giang-vien">Giảng Viên</a></li>
                          <li><a class="" href="/admin/hoc-vien">Học Viên</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="/admin/comments" class="">
                          <i class="glyphicon glyphicon-comment"></i>
                          <span>Bình luận</span>
                      </a>
                  </li>  
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="glyphicon glyphicon-th-list"></i>
                          <span>Thống Kê</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/admin/thong-ke/khoa-hoc-dang-ky">Khoá Học Đăng Ký</a></li>
                          <li><a class="" href="/admin/thong-ke/trac-nghiem-dang-ky">Trắc Nghiệm Mua</a></li>
                          <li><a class="" href="/admin/thong-ke/khoa-hoc">Khoá Học</a></li>
                          <li><a class="" href="/admin/thong-ke/bai-giang">Bài Giảng</a></li>
                          <li><a class="" href="/admin/thong-ke/giang-vien">Giảng Viên</a></li>
                          <li><a class="" href="/admin/thong-ke/hoc-vien">Học Viên</a></li>
                      </ul>
                  </li>  
                  <%}%>         
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>