<% include ../../admin/block/head %>
  <!-- container section start -->

    <% include ../../admin/block/header %>

    <% include ../../admin/block/menuLeft %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<section id="main-content">
    		<section class="wrapper">
                  <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <h3>DANH SÁCH <%=list%></h3>
                          
                          
                      </section>
                  </div>
              </div>
            </section>
        </section>
<% include ../../admin/block/footer %>