<% include ../block/head %>
<% include ../block/menuMain %>

<div class="container">
	<section class="main-section">
		<div class="row">
			<div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box address clearfix">
                    <h3><i class=" icon-map-marker"></i>Address:</h3>
                    <span>180 Cao Lỗ<br>Quận 8, TP. HCM.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa-phone"></i>Phone:</h3>
                    <span>0902 725 724</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3><i class="fa-pencil"></i>email:</h3>
                    <span>thienthanoliver@gmail.com</span>
                </div>
                <div class="contact-info-box hours clearfix">
                    <h3><i class="fa-clock-o"></i>Hours:</h3>
                    <span><strong>Monday - Fridays:</strong> 8am - 5pm<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
            </div>
			<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    
                    <form action="" method="post" role="form" class="contactForm">
                    	<br><br><br>
                    	<div class="validation"> <% if(success_msg){ %><%=success_msg%><% } %></div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" required/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-text" name="password" id="subject" placeholder="Your Password" required />
                            <div class="validation"></div>
                        </div>
                        
                        <div class="text-center">
                        	<button type="submit" class="input-btn">Đăng Nhập</button>
                        </div>
                        <br>
                        <div class="text-center">
                        	<p>Nếu bạn chưa có tài khoản <a href="/dang-ky">Đăng ký</a></p>
                        </div>
                        <div class="text-center">
                        	<p><a href="/quen-mat-khau">Quên mật khẩu ?</a></p>
                        </div>
                    </form>
                </div>	
            </div>
        </div>
	</section>
</div>

<% include ../block/footer %>