<% include ../block/head %>
<% include ../block/menuMain %>
<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
    <div class="container">
        <div class="row" align="center">
            <br>
            <h2>Kết Quả Thi Trắc Nghiệm</h2>
            
            <h3> <%=data[0].TieuDeTN%> </h3>
            <br>
            <h2>Đúng ~ <%=data[0].DiemTN%> ~ Câu </h2>
            <br>
            <a href="/trac-nghiem"><button type="button" class="btn btn-success"> Tiếp tục </button></a>
        </div>
    </div>
</section>
<% include ../block/footer %>